* {
    margin: 0;
    padding:0;
}

html {
    height:100%;
    font-family: 'Permanent Marker', cursive;
    font-size: clamp(14px, 1.5vw, 40px);
}

body {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("https://i.pinimg.com/originals/fb/a7/e9/fba7e90aae11ba301fe88f9da2a35875.jpg");
    background-size:contain;
    background-attachment: fixed;
    height:100%;
}

main {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    padding: 2rem;
    font-size:4rem;
    background-color: rgba(0, 174, 255, 0.125);  
    backdrop-filter: blur(5px);
    border-radius: 40px;
    color:aliceblue;
    width: 60vw;
    flex-grow:0.5;
}

.cell {
    border: 2px solid;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 15vw, 4rem);
}

button {
    display:none;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    background-color: rgba(0, 174, 255, 0.125);
    width:50%;
}

header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    padding: 2rem;
}

footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    padding: 1rem;
}