* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Permanent Marker", cursive;
}

body {
    background-image: url("https://i.pinimg.com/originals/fb/a7/e9/fba7e90aae11ba301fe88f9da2a35875.jpg");
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.characterSetup {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

input[type="radio"] {
    display: none;
}

input[name="humanChoice"]:checked + label img {
    background-color: rgba(0, 255, 255, 0.6);
    border-radius: 20%;
}

input[name="aiChoice"]:checked + label img {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 20%;
}

.icon {
    margin: 0;
    padding: 0;
    border-radius: 20%;
    background-color: rgba(136, 136, 136, 0.27);
    margin: 10%;
    width:75%;
    height:auto;
}

.humanIcon:hover {
    background-color: rgba(0, 255, 255, 0.6);
}
.aiIcon:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

label:hover+div {
    visibility:visible;
}

input[name="aiChoice"]:checked+label+div {
    visibility:visible;
}

.humanSetup,
.aiSetup {
    text-align: center;
    width: 50%;
}

.humanIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.aiIcons {
    grid-auto-flow: column;
}

.difficultyLabel {
    visibility:hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(0, 46, 68, 0.769);
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes animateBottom {
    from {
        transform: translateY(100%);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.modal-content-active {
    animation-name: animateBottom;
    animation-duration: 1s;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(3, calc(100% / 3));
    background-color: rgba(0, 174, 255, 0.125);
    backdrop-filter: blur(5px);
    border-radius: 40px;
    color: aliceblue;
    height: 60%;
    width: 70%;
    padding: 2rem;
}

.cell {
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 15vw, 4rem);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.cell:hover {
    background-color: rgba(136, 136, 136, 0.381);
}

.blueCell {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff; 
}

.redCell {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 40px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0);
}

.scoreboard {
    color: aliceblue;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreContainer {
    text-align: center;
    margin-top: 1rem;
    font-size: 1em;
    width: 100%;
}

button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

header,
footer {
    color: aliceblue;
    background-color: rgba(0, 174, 255, 0.125);
    width: 80%;
    margin: auto;
}

header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

h1 {
    padding: 2rem;
}

footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

#gh {
    color:#fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #0ff;
}

a {
    color:#fff;
}

footer p {
    padding: 1rem;
}

@media (min-width: 1080px) {
    .board {
        height: 60%;
        width: 40%;
    }
    .setupModal-content {
        margin: 5% auto;
        width: 40%;
    }
}
